body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
a {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: blue;
}
@media all and (max-width: 1200px) {
  .container {
    padding: 0 2em;
  }
}
header img {
  display: block;
  width: 235px;
  margin: 0 auto;
}
h1 {
  margin: 0 0 .4em 0;
  padding: 0;
  text-align: center;
}
h2 {
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 4em 0;
  padding: 0;
}
h3 {
  text-align: center;
}
section {
  display: grid;
  grid-template-columns: 44% 4% 44%;
  column-gap: 4%;
}
.pointer {
  padding-top: 164px;
  font-size: 3em;
}
@media all and (max-width: 850px) {
  section {
    display: block;
  }
  section .pointer {
    display: none;
  }
  section > div {
    margin-bottom: 3em;
  }
}
pre {
  overflow: auto;
  font-size: 0.8em;
  line-height: 1.6em;
  font-family: inherit;
  border: solid 1px #eaeaea;
  border-radius: 4px;
  padding: 2em;
  color: #666;
  margin: 0;
}
pre code {
  font-family: inherit;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
.info {
  margin: 2em 0;
  padding: 0;
}
hr {
  border-top: none;
  border-bottom: solid 1px #eaeaea;
  margin: 2em 0;
}
ul {
  padding: 0;
  margin: 0.3em 0 0 1.2em;
}
#comments {
  border: solid 1px #eaeaea;
  padding: 1em;
  border-radius: 4px;
}