{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "array-callback-return": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0,
    "no-useless-escape": 0,
    "import/no-cycle": 0,
    "import/named": 0,
    "no-sequences": 0,
    "require-yield": 0,
    "prefer-destructuring": 0,
    "import/no-extraneous-dependencies": 0,
    "no-param-reassign": 0
  },
  "globals": {
    "Octomments": true
  }
}